/* Configurações globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --fundo: #fff;
  --fundo2: #dddbcb;
  --maincolor: #e8ae68;
  --text: #030303;
  --text2: #474643;
  font-family: 'Segoe UI', 'Roboto', Tahoma, Verdana, sans-serif;
}

body {
  color: var(--text);
  background-color: var(--fundo);
  outline: none;
  border: none;
}
main {
  max-width: 100%;
}
a, button {
  text-decoration: none;
}
label {
  font-weight: 600;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
  gap: 2rem;
  background-color: var(--fundo2);
}
footer .payments {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0 0 1rem 0;
  border-bottom: var(--text) solid 1px;
}
.payments .pay-icons {
  display: flex;
  font-size: 1.4rem;
  gap: 0.8rem;
}
footer .dados-empresa {
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

/* Configurações do Home */
/* Header */
.header-home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  gap: 3rem;
}
.header-home img {
  width: 250px;
  border-radius: 50%;
  border: var(--text) solid 3px;
}
.header-home h1 {
  font-size: 3rem;
  color: var(--maincolor);
  text-shadow: -2px 2px 2px var(--text);
  width: 600px;
}

/* Configurações do header para outras páginas */
.header {
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  color: var(--text);
}
.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1rem;
}
.title img {
  width: 80px;
  border-radius: 50%;
  border: var(--text) solid 2px;
}
.header nav {
  display: flex;
  gap: 2rem;
}
.header h2{
  color: var(--text);
  font-weight: 600;
  font-size: 1.5rem;
}

.icons-header {
  display: flex;
  gap: 64px;
}
.icon {
  font-size: 1.8rem;
  color: var(--text2);
  transition: 0.2s ease;
}
.icon:hover {
  transform: scale(1.3);
  color: var(--text);
}

/* Configuração do main da página inicial*/
.main-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
  gap: 5rem;
}
.main-home section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

/* Configuração do carrossel para as páginas */
.carrossel {
  display: flex;
  gap: 2rem;
}

/* Config geral dos cards da seção de categorias de estoque */
.categoria {
  color: var(--fundo);
  text-shadow: 0 5px 5px var(--text);
  padding: 1rem;
  width: 500px;
  height: 300px;
  background-color: var(--maincolor);
  border: var(--text) solid 2px;
  border-radius: 10px;
  font-size: 2rem;
  transition: 0.2s ease;
}
.categoria:hover {
  transform: scale(1.1);
}
/* config de background de cada card */
.cat1 {
  background-image: url(../assets/images/breads.png);
}
.cat2 {
  background-image: url();
}
.cat3 {
  background-image: url();
}

/* Config dos cards de produtos (vai ser usada em todos) */
.produto-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  padding: 10px;
  border-radius: 5px;
}
.produto-card h4{
  font-size: 1rem;
  font-weight: 400;
}
.produto-card img {
  width: 150px;
  border-radius: 5px;
}
.produto-card p {
  font-size: 1.2rem;
  font-weight: 600;
}
.produto-card button {
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--fundo2);
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
} .produto-card button:hover {
  background-color: var(--text);
  color: var(--fundo);
  border-radius: 3rem;
}

.link-store {
  font-size: 1.5rem;
  padding: 8px 1.2rem;
  cursor: pointer;
  color: var(--fundo);
  font-weight: 500;
  background-color: var(--text2);
  border: none;
  border-radius: 8px;
  transition: 0.3s ease;
}
.link-store:hover {
  background-color: var(--text);
  border-radius: 3rem;
}